Repository Kultup/helpDesk: changes, and which lint-staged commands are due for each by the changed paths.
All: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "frontend/src/**/*.{ts,tsx,js,jsx}": [
    "frontend/node_modules/.bin/eslint --fix",
    "prettier --write"
  ],
  "frontend/src/**/*.{json,css,scss,md}": ["prettier --write"],
  "backend/**/*.js": [
    "backend/node_modules/.bin/eslint --fix",
    "prettier --write"
  ],
  "backend/**/*.json": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat: Add Telegram service for backend integration.
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement Telegram AI and first-line AI services.
  backend/services/aiFirstLineService.js
  backend/services/telegramAIService.js
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement new Telegram AI and Telegram services.
  backend/services/telegramAIService.js
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement core help desk functionality, API service, authentication, and Telegram integration.
  .claude/settings.local.json
  backend/models/TelegramMessage.js
  backend/routes/telegram.js
  backend/services/telegramService.js
  backend/services/ticketWebSocketService.js
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/components/TelegramUserMessage.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/uk/translation.json
  frontend/src/pages/DirectMessages.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: Introduce Telegram integration routes, a script for checking Telegram users, and an AI response cache.
  backend/routes/telegram.js
  backend/scripts/checkTelegramUsers.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

вввв
  backend/routes/telegram.js
  frontend/src/components/Layout/Header.tsx
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/uk/translation.json
  frontend/src/pages/DirectMessages.tsx
  frontend/src/services/api.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: enable Telegram direct messaging with a real-time admin interface and backend integration.
  backend/routes/telegram.js
  backend/services/telegramService.js
  frontend/src/pages/DirectMessages.tsx
  frontend/src/services/api.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: implement dashboard page displaying ticket statistics, charts, and admin-specific metrics.
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Equipment.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

feat: Implement Active Directory and Telegram services, AI knowledge page, and a comprehensive software request management UI with stats and actions.
  backend/services/activeDirectoryService.js
  backend/services/telegramService.js
  frontend/src/pages/AIKnowledge.tsx
  frontend/src/pages/SoftwareRequests.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: Add Active Directory and Telegram services along with an AI response cache.
  backend/services/activeDirectoryService.js
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement software request management with Active Directory integration, AI first-line support, and Telegram service.
  backend/controllers/activeDirectoryController.js
  backend/routes/activeDirectory.js
  backend/services/activeDirectoryService.js
  backend/services/aiFirstLineService.js
  backend/services/telegramService.js
  frontend/src/pages/SoftwareRequests.tsx
  frontend/src/services/api.ts
  ііі/Без названия (1).png
  ііі/Без названия.png
  ііі/КМ книга свят Житомир 02.26_веб_.pdf
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement software request management page with AD user access control and supporting backend services.
  .claude/settings.local.json
  backend/.env.example
  backend/services/telegramService.js
  frontend/.env.example
  frontend/src/pages/SoftwareRequests.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: implement software request management with real-time updates, AD user control, and Telegram integration.
  backend/app.js
  backend/controllers/softwareRequestController.js
  backend/jobs/adSyncCheck.js
  backend/models/SoftwareRequest.js
  backend/services/activeDirectoryService.js
  backend/services/telegramService.js
  backend/services/ticketWebSocketService.js
  frontend/src/pages/SoftwareRequests.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix
