Repository Kultup/helpDesk: changes, and which lint-staged commands are due for each by the changed paths.
All: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "frontend/src/**/*.{ts,tsx,js,jsx}": [
    "frontend/node_modules/.bin/eslint --fix",
    "prettier --write"
  ],
  "frontend/src/**/*.{json,css,scss,md}": ["prettier --write"],
  "backend/**/*.js": [
    "backend/node_modules/.bin/eslint --fix",
    "prettier --write"
  ],
  "backend/**/*.json": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat: Refine telephony prompts for AI responses to clarify information requests regarding call listening issues, ensuring streamlined user interactions and accurate data collection
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

refactor: Simplify session management by removing awaitingTicketFeedbackId handling in Telegram services, enhancing user feedback flow and session cleanup
  backend/services/telegramService.js
  backend/services/telegramTicketService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Add admin-only endpoint to clear all active Telegram sessions and implement session timeout management for improved user experience and resource management
  backend/routes/telegram.js
  backend/services/telegramService.js
  backend/services/telegramTicketService.js
  frontend/src/contexts/PendingRegistrationsContext.tsx
  frontend/src/pages/Cities.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement clear sessions functionality in Telegram settings, allowing admins to reset all active bot sessions with user confirmation
  frontend/src/pages/TelegramSettings.tsx
  frontend/src/services/api.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

feat: Enhance clearAllSessions method to notify users in Telegram when sessions are reset by admins, improving user communication and experience
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Add admin-only endpoint to retrieve active Telegram sessions count and implement real-time updates in Telegram settings for improved admin oversight
  backend/routes/telegram.js
  frontend/src/pages/TelegramSettings.tsx
  frontend/src/services/api.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

refactor: Remove handling of ticket feedback messages in Telegram services, streamlining user feedback process and improving session management
  backend/services/telegramService.js
  backend/services/telegramTicketService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Enhance Telegram service to support new AI session modes and improve ticket creation flow with additional photo handling options
  backend/services/telegramService.js
  backend/services/telegramTicketService.js
  backend/utils/aiResponseValidator.js
  backend/utils/kbRelevanceGuard.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Update AI first line prompts and enhance Telegram service to handle login window scenarios, improving user guidance for ticket creation and hints
  backend/prompts/aiFirstLinePrompts.js
  backend/services/telegramAIService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Expand AI first line prompts to include PC/domain authorization and network connection troubleshooting, enhancing user guidance for ticket creation and information requests
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

refactor: Improve job scheduling in backend jobs to use setImmediate for non-blocking execution, enhancing performance and reliability
  backend/jobs/autoCloseTickets.js
  backend/jobs/cleanupJob.js
  backend/jobs/updateTicketPriorities.js
  backend/jobs/zabbixPolling.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Додати правила безпеки до AI перших рядків підказок, забороняючи небезпечні дії, що можуть пошкодити дані користувачів, та покращуючи рекомендації для оновлення Windows
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Update AI first line prompts with critical analysis guidelines for photo submissions and enhance Telegram service button labels for ticket creation, improving user interaction and clarity
  backend/prompts/aiFirstLinePrompts.js
  backend/services/telegramAIService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Update AI first line prompts to clarify error message analysis, emphasizing the distinction between different error types and enhancing user guidance for troubleshooting scenarios
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Enhance AI first line prompts for Syrve connection errors, clarifying user data collection requirements and removing unnecessary recommendations for troubleshooting
  backend/prompts/aiFirstLinePrompts.js
  backend/services/kbSearchService.js
  backend/services/telegramAIService.js
  backend/utils/kbRelevanceGuard.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Update hint text in TelegramAIService to provide clearer guidance for article selection and ticket creation, enhancing user experience
  backend/services/telegramAIService.js
  backend/utils/kbRelevanceGuard.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Disable knowledge base article handling in TelegramAIService and TelegramService, streamlining response logic and improving clarity in user interactions
  backend/services/telegramAIService.js
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Enhance AI first line prompts for printer issues by specifying concrete questions and prohibiting vague requests for details, improving user guidance and response accuracy
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement fallback logic in TelegramAIService for quick solutions to common technical issues, enhancing user support and streamlining information gathering
  backend/prompts/aiFirstLinePrompts.js
  backend/services/aiEnhancedService.js
  backend/services/telegramAIService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement session management enhancements in TelegramService, including idle session warnings and automatic closure after inactivity, improving user experience and support efficiency
  backend/app.js
  backend/jobs/closeSessionsAfterHours.js
  backend/services/telegramAIService.js
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

ччч
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Improve logging in ZabbixAlertService for message sending, adding detailed context about group ID, bot token, and Telegram group properties to enhance debugging and monitoring capabilities.
  backend/services/zabbixAlertService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement AI first line service.
  backend/services/aiFirstLineService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: add Dashboard page, AI first-line support, and Telegram service integration
  backend/prompts/aiFirstLinePrompts.js
  backend/services/aiFirstLineService.js
  backend/services/telegramService.js
  frontend/src/pages/Dashboard.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: implement admin note management with a Kanban board interface
  backend/controllers/adminNoteController.js
  backend/models/AdminNote.js
  frontend/src/components/MiniKanban.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/types/index.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement a Mini Kanban board component for managing admin notes with i18n support.
  frontend/src/components/MiniKanban.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/uk/translation.json
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

feat: add ticket export functionality with advanced filtering and AI analysis options.
  backend/controllers/ticketController.js
  backend/services/aiEnhancedService.js
  frontend/src/components/ExportTicketsModal.tsx
  frontend/src/hooks/useTicketExport.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement full stack equipment management with new backend routes, controllers, and a frontend page.
  backend/controllers/equipmentController.js
  backend/routes/equipment.js
  frontend/src/pages/Equipment.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: add Equipment page component
  frontend/src/pages/Equipment.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

feat: Add equipment controller
  backend/controllers/equipmentController.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Create equipment controller to manage equipment-related operations.
  backend/controllers/equipmentController.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Add AI first line prompts.
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement AI enhanced service.
  backend/services/aiEnhancedService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: add AI enhanced service.
  backend/services/aiEnhancedService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement AI first-line, enhanced, and Telegram services with dedicated prompts.
  backend/prompts/aiFirstLinePrompts.js
  backend/services/aiEnhancedService.js
  backend/services/aiFirstLineService.js
  backend/services/telegramAIService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement Telegram AI and ticket services with dedicated AI prompts.
  backend/prompts/aiFirstLinePrompts.js
  backend/services/telegramAIService.js
  backend/services/telegramTicketService.js
  frontend/package-lock.json
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: add Equipment page to frontend.
  frontend/src/pages/Equipment.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

feat: add equipment controller
  backend/controllers/equipmentController.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix
