Repository Kultup/helpDesk: changes, and which lint-staged commands are due for each by the changed paths.
All: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "frontend/src/**/*.{ts,tsx,js,jsx}": [
    "frontend/node_modules/.bin/eslint --fix",
    "prettier --write"
  ],
  "frontend/src/**/*.{json,css,scss,md}": ["prettier --write"],
  "backend/**/*.js": [
    "backend/node_modules/.bin/eslint --fix",
    "prettier --write"
  ],
  "backend/**/*.json": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat: Implement detailed ticket view with admin controls, AI analysis, Telegram integration, and quick notifications.
  backend/routes/telegram.js
  backend/routes/tickets.js
  backend/services/telegramService.js
  frontend/src/components/TelegramUserMessage.tsx
  frontend/src/pages/QuickNotifications.tsx
  frontend/src/pages/TicketDetails.tsx
  frontend/src/services/api.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: Add quick Telegram notification sending with template management capabilities.
  backend/routes/telegram.js
  backend/routes/tickets.js
  backend/services/telegramService.js
  frontend/src/pages/QuickNotifications.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement equipment management and Telegram notification services.
  backend/controllers/equipmentController.js
  backend/services/equipmentService.js
  backend/services/telegramNotificationService.js
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement Telegram routes and notification service.
  backend/routes/telegram.js
  backend/services/telegramNotificationService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement user checking script and Telegram service integration.
  backend/scripts/checkUser.js
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: implement Telegram service
  backend/services/telegramService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat: Implement API service for backend communication and add initial Equipment management page with new types and UI components.
  frontend/src/components/UserDetailsModal.tsx
  frontend/src/pages/Equipment.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

feat: Add UserDetailsModal component and implement the Equipment listing and management page.
  frontend/src/components/UserDetailsModal.tsx
  frontend/src/pages/Equipment.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

11
  frontend/src/components/MiniKanban.tsx
  frontend/src/locales/uk/translation.json
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

aaa
  frontend/src/components/MiniKanban.tsx
  frontend/src/components/PhotoViewer.tsx
  frontend/src/components/charts/WeeklyTicketsChart.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/uk/translation.json
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

ц
  frontend/src/components/MiniKanban.tsx
  frontend/src/pages/Dashboard.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

11
  backend/controllers/settingsController.js
  backend/models/AISettings.js
  backend/package-lock.json
  frontend/src/pages/AISettings.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

Fix heading content accessibility in ProjectDocs
  backend/prompts/aiFirstLinePrompts.js
  backend/services/aiFirstLineService.js
  backend/services/telegramAIService.js
  backend/tests/ai_printing_test_cases.md
  frontend/public/docs/TS.md
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/locales/uk/translation.json
  frontend/src/pages/ProjectDocs.tsx
  tmp/verify_atypical.js
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

Add Project Docs editor for admin
  backend/app.js
  frontend/src/pages/ProjectDocs.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

Fix Project Docs: use files API for saving TZ
  backend/app.js
  backend/routes/files.js
  frontend/src/pages/ProjectDocs.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

Add Markdown editor toolbar with formatting buttons
  frontend/src/pages/ProjectDocs.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

Move ngrok to optionalDependencies to fix Node.js v22 install issue
  backend/package.json
Due: prettier --write

Add secure document sharing feature
  backend/routes/files.js
  frontend/src/App.tsx
  frontend/src/pages/ProjectDocs.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

Add SecureDocumentView page for secure document viewing
  frontend/src/pages/SecureDocumentView.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

Fix SecureDocumentView Markdown formatting
  frontend/src/pages/SecureDocumentView.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

Add full document management system
  backend/app.js
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/locales/uk/translation.json
  frontend/src/pages/SecureDocumentView.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

Add missing document management files
  backend/controllers/documentController.js
  backend/models/Document.js
  backend/routes/documents.js
  frontend/src/pages/DocumentEditor.tsx
  frontend/src/pages/DocumentShare.tsx
  frontend/src/pages/Documents.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

Fix middleware path in documents route
  backend/routes/documents.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

fix: виправлено помилки імпорту authMiddleware та Firebase undefined шляху
  backend/routes/documents.js
  backend/services/fcmService.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

fix: додано роут /admin/documents для адмінки документів
  frontend/src/App.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

fix: DocumentEditor тепер використовує api service з JWT токеном
  frontend/src/pages/DocumentEditor.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

fix: виправлено створення документів - slug генерується через pre('save') хук
  backend/controllers/documentController.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

fix: виправлено TypeScript помилку в DocumentEditor
  frontend/src/pages/DocumentEditor.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

fix: виправлено помилку валідації slug - pre('save') змінено на pre('validate')
  backend/models/Document.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

fix: Documents page тепер використовує apiService з JWT токеном
  frontend/src/pages/Documents.tsx
  frontend/src/services/api.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

fix: TypeScript помилки в DocumentEditor та DocumentShare
  AI_BOT_PROMPTS_ANALYSIS.md
  frontend/src/pages/DocumentEditor.tsx
  frontend/src/pages/DocumentShare.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

fix: видалено залишкові маршрути admin/documents та admin/project-docs з App.tsx
  backend/app.js
  backend/controllers/documentController.js
  backend/models/Document.js
  backend/routes/documents.js
  frontend/src/App.tsx
  frontend/src/components/Layout/Sidebar.tsx
  frontend/src/locales/uk/translation.json
  frontend/src/pages/DocumentEditor.tsx
  frontend/src/pages/DocumentShare.tsx
  frontend/src/pages/Documents.tsx
  frontend/src/pages/ProjectDocs.tsx
  frontend/src/pages/SecureDocumentView.tsx
  frontend/src/services/api.ts
Due: frontend/node_modules/.bin/eslint --fix, prettier --write, backend/node_modules/.bin/eslint --fix

fix: додано FileText імпорт для knowledgeBase іконки
  frontend/src/components/Layout/Sidebar.tsx
Due: frontend/node_modules/.bin/eslint --fix, prettier --write

docs: додано план покращення AI бота
  AI_BOT_IMPROVEMENT_PLAN.md
Due: prettier --write

feat(ai): Етап 1.1 - Українські приклади, детектор емоцій, кешування, фідбек
  backend/controllers/aiFeedbackController.js
  backend/models/AIFeedback.js
  backend/prompts/aiFirstLinePrompts.js
  backend/routes/aiKnowledge.js
  backend/services/aiFirstLineService.js
  backend/services/aiResponseCache.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

feat(ai): v3.2 - Виправлено логіку бота
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

fix: виправлено помилку ANALYZE_TEXT_RULES before initialization
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix

fix: покращено обробку порту 5000
  backend/ecosystem.config.js
  backend/scripts/kill-port.sh
  backend/scripts/pre-start.sh
Due: prettier --write, backend/node_modules/.bin/eslint --fix

fix: додано selectIntentPrompt function
  backend/prompts/aiFirstLinePrompts.js
Due: prettier --write, backend/node_modules/.bin/eslint --fix
